@model IEnumerable<Top2000.Models.spSelectTop10ListingOnYear>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Top10Lijst" asp-action="Index" method="get">
    <p>
        Zoeken: @Html.TextBox("searchYear")
        <input class="btn btn-primary" type="submit" value="Zoek" />
    </p>
</form>

<h2>@ViewBag.year</h2>

<style>
    table thead {
        background-color: #DA161C;
        color: #fff;
        font-weight: bolder;
    }

    #position {
        background-color: #171F26;
        color: white;
        width: 5%;
        text-align: center;
    }

    #title {
        font-weight: bolder;
    }
</style>

@if (ViewBag.isData)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Positie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uitgebracht)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="position">
                        @Html.DisplayFor(modelItem => item.Positie)
                    </td>
                    <td id="title">
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uitgebracht)
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h1>Geen data van dit jaar</h1>
}

<div class="container-fluid">
    <a class="btn btn-primary" asp-controller="Song">Bekijk alle liedjes!</a>
</div>