@model IEnumerable<Top2000.Models.Song>

@{
    ViewData["Title"] = "Top2000";
}

<h1>Top 2000 - Songs</h1>

<p>
    <a asp-action="Create">Voeg toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artiest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jaar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artiest.Naam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Songid">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.Songid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Songid">Verwijder</a>
                </td>
            </tr>
        }
    </tbody>
</table>
