@model IEnumerable<Top2000.Models.Song>

@{
    ViewData["Title"] = "Top2000";
}

<h1>Top 2000 - Songs</h1>

<p>
    <a asp-action="Create">Voeg toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artiest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/images/music-album.png" width="50" height="50" alt="Album Cover"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artiest.Naam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Songid">Bewerken</a> |
                <a asp-action="Details" asp-route-id="@item.Songid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Songid">Verwijder</a>
            </td>
        </tr>
        }
    </tbody>
</table>
